.wrapper{
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: blue;
    height: 100vh;
    width: 100%;
    background: rgb(95,88,196);
    background: linear-gradient(90deg, rgba(95,88,196,1) 14%, rgba(9,9,121,1) 56%, rgba(29,46,50,1) 100%);
    /* background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); */

}
/* html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
} */
body{
    overflow-y: hidden;
    position: relative;
    scrollbar-width: 0px;
    background: rgb(95,88,196);
    background: linear-gradient(90deg, rgba(95,88,196,1) 14%, rgba(9,9,121,1) 56%, rgba(29,46,50,1) 100%);
}
/* .index{
    
} */
/* .home-container{
    display: flex;
    flex-direction: column;
} */
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home-container{
    margin: 0 auto;
}

.home-header{
    display: flex;
    /* border-bottom: 1px solid white; */
    align-items: center;
    justify-content: space-between;
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    /* margin: 0 auto; */
    /* gap: 30rem; */
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.button-group{
    display: flex;
    gap: 1rem;
}
.section-button{
    cursor: pointer;
    padding: 0.75rem;
    /* background: blue; */
    border-radius: 5px;
    background: rgb(25,16,152);
    background: linear-gradient(90deg, rgba(25,16,152,1) 14%, rgba(9,9,121,1) 85%, rgba(29,46,50,1) 100%);
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    border: 1px solid white;
    transition: transform 0.3s ease
    
}
.section-button:hover{
    transform: scale(1.1)
}
.btn{
    margin: 0;
    color: white;
    padding: 0;
    border: 0;
}
.hero-section{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 3rem;
}
.title{
    font-size: 65px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.runing-para{
    /* width: 20rem; */
    height: 12rem;
    margin: 0 auto;
    object-fit: fill;
}
.line{
    align-items: center;
}
.running{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
 .footer{
    position: relative;
    /* bottom: 2.15rem; */
    /* right: 33rem; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 3rem;
    /* flex-direction: column; */
    
}

.help{
    position: absolute;
    top: 35px;
    right: -240px;
   }
.footer-text{
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
} 
.link{
    color: white;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    border: 1px solid #888;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.dialog-content {
    text-align: center;
}

.close-button {
    color: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* .button-group{
    width: 100%;
} */
/* .title{
    font-family: fantasy;
} */


/* #image{
    mix-blend-mode: color-burn;
} */
@media (width: 800px){
    .title{
        font-size: 6px;
    }
}
